<!-- <div class="site-logo" role="img" aria-label="{{ site.title }}">SARYA</div> -->

<script src="https://cdn.tailwindcss.com"></script>

<div class="flex items-center">
  <a href="https://www.sarya.com/">
    <div class="flex h-12 w-12 items-center justify-center rounded-xl border border-purple-100 bg-white bg-opacity-100">
      <!-- You had the logo image inside a comment; I've uncommented it -->
      <img class="h-7" src="https://www.sarya.com/img/logo.svg" alt="logo" />
    </div>
  </a>
  <!-- The link for the 'sarya' image should be separate from the logo link if they are meant to be different -->
  <a href="https://www.sarya.com/">
    <img class="ml-2 mt-1 h-6" src="https://www.sarya.com/img/sarya.svg" alt="sarya" />
  </a>
</div>
