<!-- <div class="site-logo" role="img" aria-label="{{ site.title }}">SARYA</div> -->


<div class="container">
  <a href="https://www.sarya.com/" class="logo-link">
    <div class="logo-container">
      <img class="logo" src="https://www.sarya.com/img/logo.svg" alt="logo" />
    </div>
  </a>
  <a href="https://www.sarya.com/" class="sarya-link">
    <img class="sarya" src="https://www.sarya.com/img/sarya.svg" alt="sarya" />
  </a>
</div>

<style>
  .container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Added for justify-start */
}

.logo-link, .sarya-link {
  text-decoration: none;
}

.logo-container {
  display: flex;
  height: 48px; /* h-12 */
  width: 48px; /* w-12 */
  align-items: center;
  justify-content: center;
  border-radius: 1rem; /* rounded-xl */
  border: 1px solid #E5E7EB; /* border-purple-100 */
  background-color: #FFFFFF; /* bg-white */
  opacity: 1; /* bg-opacity-100 */
}

.logo {
  height: 28px; /* h-7 */
}

.sarya {
  margin-left: 8px; /* ml-2 */
  margin-top: 4px; /* mt-1 */
  height: 24px; /* h-6 */
}

</style>
