<div class="site-logo" role="img" aria-label="{{ site.title }}">SARYA</div>

<!-- <div class="flex items-center justify-start">
  <a href="https://www.sarya.com/">
    <div class="flex h-12 w-12 items-center justify-center rounded-xl border border-purple-100 bg-white bg-opacity-100">
      <img class="h-7" src="https://www.sarya.com/img/logo.svg" alt="logo" />
    </div>
  </a>
  <a href="https://www.sarya.com/">
    <img class="ml-2 mt-1 h-6" src="https://www.sarya.com/img/sarya.svg" alt="sarya" />
  </a>
</div> -->
